:root {
  --color-blue: hsl(241, 72%, 37%);
  --color-dark-blue: hsl(241, 46%, 16%);
  --color-gold: hsl(43, 100%, 71%);
  --color-red: hsl(347, 63%, 53%);
  --color-black: hsl(0, 0%, 0%);
  --color-gray-100: hsl(0, 0%, 91%);
}

html,
body,
#root {
  height: 100%;
  background-color: var(--color-dark-blue);
  color: white;
}

.scrollbar::-webkit-scrollbar {
  background-color: rgba(3, 0, 0, 0.5);
  width: 5px;
  height: 5px;
}

.scrollbar::-webkit-scrollbar-track {
  background-color: rgba(3, 0, 0, 0.5);
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 2px;
}

.scrollbar::-webkit-scrollbar-button {
  display: none;
}

.scrollbar::-webkit-scrollbar-corner {
  background-color: transparent;
}

.header-box {
  display: flex;
  justify-content: center;
  padding: 8px;
}

.header-button {
  border: none;
  background: none;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 2px;
  cursor: pointer;
  color: inherit;
}

.jeo-item-list {
  display: flex;
  padding: 16px;
  gap: 16px;
  flex-wrap: nowrap;
}

.jeo-item {
  width: 200px;
  height: 140px;
  background-color: var(--color-blue);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: var(--color-gold);
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  position: relative;
}

.jeo-item-as-button {
  background-color: var(--color-gray-100);
  color: black;
}

.jeo-item__ts {
  font-weight: 400;
  font-size: 12px;
  position: absolute;
  bottom: 8px;
  left: 8px;
}

.jeo-board {
  width: 100%;
  height: 100%;
  background-color: var(--color-black);
  flex-grow: 1;
  display: grid;
  gap: 8px;
  padding: 8px;
}

.jeo-cell {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-gold);
  font-weight: 700;
  font-size: 24px;
  background-color: var(--color-blue);
  cursor: pointer;
  border: 2px solid transparent;
  position: relative;
  min-width: 0;
  min-height: 0;
}

.jeo-cell--title {
  grid-column: 1 / -1;
  cursor: revert;
}

.jeo-cell--header {
  cursor: revert;
}

.jeo-cell--active {
  border: 2px solid var(--color-gold);
  border-radius: 4px;
}

.jeo-cell--disabled {
  pointer-events: none;
  opacity: 0.5;
}

.jeo-cell--empty {
  color: rgba(255, 255, 255, 0.7);
}

.jeo-scoreboard {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.jeo-player {
  min-width: 0;
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding: 8px;
  border-radius: 4px;
  text-align: center;
}

.jeo-player__score {
  display: flex;
  justify-content: space-evenly;
  gap: 8px;
  padding: 8px;
  background-color: var(--color-black);
  color: white;
  border-radius: 4px;
}

.jeo-player__score > *:nth-child(1) {
  min-width: 2ch;
}

.jeo-player__score > *:nth-child(2) {
  min-width: 5ch;
}

.jeo-player__score > *:nth-child(3) {
  min-width: 2ch;
}

.jeo-player__buttons {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.form {
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.input {
  border: none;
  height: 40px;
  width: 100%;
  border-radius: 4px;
  padding: 4px 8px;
  display: block;
  background-color: var(--color-gray-100);
}

.textarea {
  border: none;
  min-height: 40px;
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  border-radius: 4px;
  padding: 4px 8px;
  display: block;
  background-color: var(--color-gray-100);
}

.overlay-button {
  border: none;
  background: none;
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  cursor: pointer;
}

.unstyled-button {
  border: none;
  background: transparent;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  padding: 0;
  cursor: pointer;
}

.unstyled-input {
  border: none;
  background: transparent;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  padding: 0;
}

.button {
  border: none;
  border-radius: 4px;
  background: var(--color-gold);
  color: var(--color-blue);
  height: 30px;
  font-size: 14px;
  font-weight: 700;
  padding: 6px 12px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
}

.button:disabled {
  cursor: not-allowed;
  opacity: 0.7;
}

.button--ghost {
  background: transparent;
  color: white;
  height: revert;
  padding: 0;
  margin: 0;
  font-size: 16px;
}

.button--delete {
  background: var(--color-red);
  color: white;
}

.button--neutral {
  background: var(--color-gray-100);
  color: var(--color-black);
}

.modal-box {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-dark-blue);
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.file-select {
  width: 50px;
  height: 50px;
  padding: 8px;
  background-color: var(--color-gray-100);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  font-size: 12px;
  font-weight: 500;
  color: black;
}

.file-select > input {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.file-image {
  width: 50px;
  height: 50px;
}

.file-image img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
